* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    width: 100%;
}

#container {
    width: 60%;
    margin: auto;
    background-image: url("logoWeather/landscape.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#night {
    width: 100%;
    min-height: 60vh;
    margin: auto;
    padding: 2vw;
}

header, section, #temp {
    padding: 1vw;
    display: flex;
    justify-content: space-between;
}

#country {
    font-size: 4vw;
}

section, #temp {
    align-items: center;
}

#description {
    text-align: center;
}

#time, #infos, #description {
    font-size: 2vw;
}

#temp {
    font-size: 2.5vw;
}

@media screen and (max-width: 750px) {
    #container {
        width: 100%;
    }
    #weather {
        width: 35vw;
    }
    #temp {
        width: 28vw;
        font-size: 3.5vw;
    }
    #infos, #description {
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 600px) {
    section {
        width: 50%;
        margin: auto;
        flex-direction: column;
    }
    #infos, #description {
        font-size: 3vw;
    }
}

@media screen and (max-width: 500px) {
    section {
        width: 80%;
    }
    #weather {
        width: 50vw;
    }
    #temp {
        width: 55vw;
        font-size: 6vw;
    }
    #country, #time, #description, #infos {
        font-size: 6vw;
    }
}